<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/AdminCSS/StyleAdmin.css" />
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Admin Index</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="~/Content/Images/logo/logo1.png" alt="logo" />              
                </span>
                <div class="text header-text">
                    <span class="name">LQ Shop</span>
                    <span class="profession">Admin</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul>
                    <li class="search-box">                        
                        <i class='bx bx-search icon'></i>
                        <input type="text" placeholder="Search..." />                    
                    </li>
                </ul>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-chip icon'></i>
                            <span class="text nav-text">Sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-check-shield icon'></i>
                            <span class="text nav-text">Thương hiệu</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-category icon'></i>
                            <span class="text nav-text">Danh mục sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Đánh giá sản phẩm</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-discount icon'></i>
                            <span class="text nav-text">Chương trình giảm giá</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-cart-alt icon'></i>
                            <span class="text nav-text">Danh sách đơn hàng</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <ul>
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Log out</span>
                        </a>
                    </li>
                </ul>

                <ul>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="content">
        <div class="text">
            @RenderBody()
        </div>
    </section>

    <script src="~/Scripts/AdminJS/script.js"></script> 
</body>
</html>
